<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="./img/icon.png">
    <link rel = "stylesheet" href="./css/styles.css"/>


</head>
<body>

    <div class="main-content">
         {{>header}}

         <img class="portrait" src="./img/73088982_339031063555710_5631132510843830272_n.jpg">
         <p>This app using darksky.net and mapbox.com</p>

    </div>
   
    {{>footer}}
</body>


</html>

